*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    height: 80vh;
    background-image: url("./img/george-washington-bridge-g5345f962c_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
    color: rgb(236, 236, 236);
    font-size: clamp(16px, 1.05vw, 20px);
}
p{
    color: rgb(236, 236, 236);
    font-size: clamp(16px, 1.05vw, 20px);
}
h1{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
    color: white;
}
h2{
    font-size: 20px;
    color: rgb(245, 245, 245);
    padding: 10px 0px;
}
input{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(173, 173, 173);
    margin-bottom: 10px;

    font-size: clamp(16px, 1.05vw, 20px);

    color: white;
}
input::-moz-focus-inner{
    border: none;
}
textarea {
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(173, 173, 173);
    margin-bottom: 10px;
    color: white;

    font-size: clamp(16px, 1.05vw, 20px);
 }
 form{
    display: flex;
    flex-direction: column;
    background-color: rgba(19, 19, 19, 0.99);
    color: white;
    border-radius: 0px 20px 20px 0px;
    padding: 30px;
    width: 25vw;
    height: clamp(200px, 50vh, 500px);

}
form p {
    margin-top: 10px;
    color: rgb(194, 194, 194);
}


.formulaire{
    display: flex;
    margin: 20vh auto 0px auto;
    width: 50vw;
}

.contact_me{
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(2px);
    padding: 30px;
    border-radius: 20px 0px 0px 20px;
}


@media screen and (max-width: 700px) {
    body{
        height: 120vh;
    }
    .formulaire{
        width: 100vw;
        flex-direction: column;
        padding: 0px;
    }
    form{
        width: 90vw;
        border-radius: 0px;
    }
    .contact_me{
        width: 90vw;
        border-radius: 0px;

    }
}
